// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

$gutter: 1rem;

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__nav {
  width: 100%;
  background: #000000;
  color: #fff;
  padding-left: 15%;
}

.container {
  max-width: 60rem;
  margin: auto;
}

.hand {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.value {
  text-align: center;
  font-size: 1.5rem;
}
